<div class="container">
	<section class="ba-aboutme">
		<div class="ba-about-photo col-md-offset-5">
			<div class="ba-figure-about">
				<a href="#">About me</a>
			</div>
			<!-- /.ba-figure-about -->
			<div class="ba-black-figure-about">
			</div>
			<!-- /.ba-black-figure-about -->
			<img src="./assets/img/about-img.png" alt="photo">
		</div>
		<!-- /.ba-about-photo -->
		<div class="ba-aboutme-text">
			<p>Hi, i'm   <span class="ba-special-text ba-special-text-1"> Vikaaa,</span><br>
La la la, i should wtite here something, but not “lorem ipsum”  this<br> part may contain personal information. well,i like chokolate and fried fish. also i’m fond of painting. i have a strange nose, i don’t like it. i think it is too big ...<span class="ba-special-text">read more...</span></p>
		</div>
		<!-- /.ba-aboutme-text -->
	</section>
	<!-- /.ba-aboutme -->
</div>
<!-- /.container -->
