<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Contact us|AKAD</title>
		//=include templates/_head.html
	</head>
	<body>
		<div class="ba-intro" style="background-image: url(./assets/img/bg.jpg)">

		//=include templates/header.html

			<div class="container">
				<div class="ba-intro__body text-center">
					<h1 class="ba-page-title">
						contact us
						<span class="ba-page-title__sub__first">home / contact</span>
					</h1>

					<div class="ba-form-map-row">
						<div class="ba-form-map-row-1 col-xs-12 col-sm-6 col-md-5">
							<div class="ba-form">
								<form action="#" class="ba-contact--form">
									<!-- BEGIN ba-auskteez  -->
									<div class="ba-name">
										<input type="name" class="ba-form-contact" name="q" id="name" placeholder="Имя*">
										<input type="telephone" class="ba-form-contact" name="q" id="telephone" placeholder="Телефон*">
									</div>
									<!-- END ba-auskteez -->
									<!-- BEGIN ba-email  -->

									<!-- BEGIN ba-phone  -->
									<div class="ba-mail">
										<input type="email" class="ba-email" name="q" id="email" placeholder="Эл. почта*">
									</div>
									<!-- END ba-phone -->
									<!-- BEGIN ba-messge  -->
									<div class="ba-mesage">

										<textarea name="comment" class="ba-form-contact7" required id="mesage" rows="2" cols="100">Cooбщeниe:</textarea>
									</div>
									<!-- END ba-messge -->
									<!-- BEGIN ba-submit  -->
									<div class="ba-submit">
										<button class="ba-button__contact">Отправить</button>
									</div>
									<!-- END ba-submit -->

								</form>
							</div>
						</div>
						 <!-- /.ba-form-map-row-1 -->
						<div class="ba-form-map-row-2 col-xs-12 col-sm-6 col-md-5"></div>
						 <!-- /.ba-form-map-row-2 -->
					</div>
					 <!-- /.ba-form-map-row -->

				</div>
				 <!-- /.ba-intro__body -->


			</div>
			 <!-- /.container -->
		</div>
		 <!-- /.ba-intro -->

		<main>
			<!-- BEGIN container  -->
			<div class="container">



					<section class="ba-section">

					</section>

			</div>
			<!-- END container -->
		</main>

		//=include templates/footer.html
		//=include templates/scripts.html
	</body>
</html>
