<header class="ba-header">
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header col-xs-12 col-sm-12 col-md-12">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand logo-container  col-xs-12 col-sm-12 col-md-12" href="#">
	      	<div class="wrapper3d">
	      		<div class="front">
	      			<img src="./assets/img/v.png" alt="logo" class="logo-first">
	      		</div>
	      		<!-- /.front -->
	      		<div class="back">
	      			<img src="./assets/img/about-img.png" alt="logo" class="logo-first logo-first-2">
	      		</div>
	      		<!-- /.back -->
	      	</div>
	      	<!-- /.wrapper3d -->

	      </a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse collapse in" id="bs-example-navbar-collapse-1">


	      <ul class="ba-header-list"><!--class="nav navbar-nav navbar-right"-->
	        <li class="ba-my-works"><a href="index.html" >my works</a></li>
	        <li class="ba-about-me"><a href="about.html">about me</a></li>
	    <!--<li><a href="services.html">Services</a></li>
	        <li><a href="portfolio.html">Portfolio</a></li> -->
	        <li class="ba-contacts"><a href="contacts.html">Contacts</a></li>
	    <!--<li><a href="blog.html">Blog</a></li> -->
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container">

	</div>
</header>
